<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>

<div class="container">
<div th:hidden ="${next eq null} and ${current eq null} " class="col">

<div th:if ="${next eq null} and not ${current eq null} ">
       <div class="card border-0" style="width: 19rem;">
  <img class="card-img-top" src="../img/last.gif" alt="Card image cap">
  
</div>
       
   </div>
  <div th:unless="${next?.id eq null}">
<div class="card border-0" th:object="${next}" style="width: 19rem;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" th:src="*{url}" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">Coming Later!!!</h5>
                        <p th:text="*{description}" class="card-text"></p>
                       <h6 th:text="*{status.displayValue}" class="card-title">Up Next</h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>




 <div class="row">
    
    <div class="col-6" th:hidden ="${next eq null} and ${current eq null} ">
       
       
  <div th:unless="${current eq null} or ${current.id eq null}" class="card mb-4 border-0" style="width: 35rem;margin-left:200px" th:object="${current}">
  <img  class="card-img-top" th:src="*{url}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Status: UP Next !!!</h5>
    <a th:href="@{/cancel}" class="btn btn-danger btn-sm">Full Stop</a>
    <a th:href="@{/skip}" class="btn btn-info btn-sm">Skip</a>
    <a th:href="@{/back}" class="btn btn-success btn-sm">Back</a>
    <h4 th:text="*{description}" class="card-title"></h4>
    <div class="row begin-countdown">
  <div class="col-md-12 text-center">
    <progress value="10" max = "10"   id="pageBeginCountdown"></progress>
    <p> Exercise starts in  <span id="pageBeginCountdownText">10 </span> seconds</p>
  </div>
</div>
   
  </div>
</div>
    
    
      
    </div>
    <div th:unless="${completedTasks.isEmpty()}" class="col" >
      
     <div class="row" th:if ="${current eq null} and ${next eq null}  or ${current.id eq null} and ${next eq null}">
  <div class="col-xl-3" th:each="task : ${completedTasks}">
          <div th:if="${task.status.displayValue} eq 'Failed'" class="card text-white bg-danger mb-3" style="max-width: 18rem;">
         <div th:text="${task.status.displayValue}" class="card-header"></div>
         <div class="card-body">
         <h5 th:text="${task.description}" class="card-title"></h5>

         </div>
         </div>
         
         <div th:if="${task.status.displayValue} eq 'Processed'" class="card text-white bg-info mb-3" style="max-width: 18rem;">
         <div th:text="${task.status.displayValue}" class="card-header">Header</div>
         <div class="card-body">
         <h5 th:text="${task.description}" class="card-title"></h5>
          
         </div>
         </div>
         
         <div th:if="${task.status.displayValue} eq 'Not Processed'" class="card text-white bg-warning mb-3" style="max-width: 18rem;">
         <div th:text="${task.status.displayValue}" class="card-header"></div>
         <div class="card-body">
         <h5 th:text="${task.description}" class="card-title"></h5>

         </div>
         </div>
   
   </div>
  </div>
  
  <div style="margin-left:250px" class="col" th:each="task : ${completedTasks}" th:unless="${current eq null} and ${next eq null}  or ${current.id eq null} and ${next eq null}">
          <div th:if="${task.status.displayValue} eq 'Failed'" class="card text-white bg-danger mb-3" style="max-width: 18rem;">
         <div th:text="${task.status.displayValue}" class="card-header">Header</div>
         <div class="card-body">
         <h5 th:text="${task.description}" class="card-title"></h5>

         </div>
         </div>
         
         <div th:if="${task.status.displayValue} eq 'Processed'" class="card text-white bg-info mb-3" style="max-width: 18rem;">
         <div th:text="${task.status.displayValue}" class="card-header">Header</div>
         <div class="card-body">
         <h5 th:text="${task.description}" class="card-title"></h5>
          
         </div>
         </div>
         
         <div th:if="${task.status.displayValue} eq 'Not Processed'" class="card text-white bg-warning mb-3" style="max-width: 18rem;">
         <div th:text="${task.status.displayValue}" class="card-header"></div>
         <div class="card-body">
         <h5 th:text="${task.description}" class="card-title"></h5>

         </div>
         </div>
   
   </div>
  
 </div>
 
      
    </div>
    <hr>
    <div th:if ="${current eq null} and ${next eq null}  or ${current.id eq null} and ${next eq null}">
       
       <a th:href="@{/}" class="btn btn-warning btn-sm">Continue with new exercises</a>
       <a th:href="@{/newStart}" class="btn btn-success btn-sm">Reset And Start Over</a>
       
       </div>
   
  </div>
  
   
   
       
       
    
   




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  
 <script>
 
 ProgressCountdown(10, 'pageBeginCountdown', 'pageBeginCountdownText');

 function ProgressCountdown(timeleft, bar, text) {
   return new Promise((resolve, reject) => {
     var countdownTimer = setInterval(() => {
       timeleft--;

       document.getElementById(bar).value = timeleft;
       document.getElementById(text).textContent = timeleft;

       if (timeleft <= 0) {
         clearInterval(countdownTimer);
         resolve(true);
         window.location = "https://workout-codeit.herokuapp.com/completeTask";
       }
     }, 1000);
   });
 }
 
 
 </script>
 
 
  
  
</body>

</html>