<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>

<div class="container">


 <div class="row">
    <div class="col">
    
    <div th:if ="${next eq null} and not ${current eq null} ">
       <h3>You are on your last exercise </h3>
       
   </div>
   
    <div th:if ="${next eq null} and ${current eq null} ">
       <h3>You Are Done</h3>
       
   </div>
   
       <div th:unless="${next?.id eq null}">
      
       <table  class="table table-striped" th:object="${next}">
  
      <tr>
        <th></th>
       
      </tr>
      <tr>
        <th>Exercise  id</th>
        <td><b th:text="*{id}"></b></td>
      </tr>
      <tr>
        <th>Price</th>
        <td th:text="*{description}"></td>
      </tr>
      <tr>
        <th>Status</th>
        <td th:text="*{status}"></td>
      </tr>
      <tr>
        <th>IsRisky</th>
        <td th:text="*{isRisky}"></td>
      </tr>
    
      
    </table>
    </div>
      
    </div>
    <div class="col-6">
       <div th:if ="${current eq null} and not ${next eq null} or ${current?.id eq null} and not ${next eq null} ">
       <h3>Start Excersizing</h3>
       <a th:href="@{/startTask}" class="btn btn-success btn-sm">start</a>
    </div>
    <div th:if ="${current eq null} and ${next eq null}  or ${current.id eq null} and ${next eq null}">
       <h3>Start New Exersize</h3>
       <a th:href="@{/}" class="btn btn-success btn-sm">GO</a>
       
       </div>
       
       
      
       <table th:unless="${current eq null} or ${current.id eq null}" class="table table-striped" >
   <thead>
    <tr>
      <th scope="col">
    Id
      </th>
      <th scope="col">
     Product Name
       </th>
      <th scope="col">
      Action
      </th>
      
     
      </tr>
  </thead>
  <tbody>
    <tr th:each="product : ${taskInProgress}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.description}"></td>
     
    <td><a th:href="@{/completeTask}" class="btn btn-success btn-sm">Complete</a>
        <a th:href="@{/skip}" class="btn btn-danger btn-sm">Skip</a>
     </td> 
    <!--  
      <td>
         
     
      
      </div>
      <img th:src="*{'data:image/png;base64,'+{product.image}}" style="width:200px">
      <td>
      -->
    </tr>
     </tbody>
    
      
    </table>
      
    </div>
    <div class="col">
      
       <table class="table table-striped ">
  <thead>
    <tr>
      <th scope="col">
    Id
      </th>
      <th scope="col">
     Description
       </th>
      <th scope="col">
      status
      </th>
      
     
      </tr>
  </thead>
  <tbody>
    <tr th:each="product : ${completedTasks}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.description}"></td>
      <td th:text="${product.status.displayValue}"></td>
    
    <!--  
      <td>
         
     
      
      </div>
      <img th:src="*{'data:image/png;base64,'+{product.image}}" style="width:200px">
      <td>
      -->
    </tr>
     </tbody>
</table>
      
    </div>
  </div>
  


   
    <hr>
    
    <br>
    
    

  
    
   
</div>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
  
 <script type="text/javascript" th:src="@{/js/js.js}"></script>
 
 
  
  
</body>

</html>