<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#">DZIKLE'S EXPRESS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
            
            <li class="nav-item dropdown ">
            <div sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Me
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="navbar-brand" ><span sec:authentication="principal.authorities">User</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="nav-item nav-link"  th:href="@{/profile}" sec:authentication="principal.username"> Welcome <span >User</span></a>
                        <div class="dropdown-divider"></div>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="nav-item nav-link" >Logout</a>
                    </div>
                    </div>
                </li>
                 
                <li class="nav-item ">
                    <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/products}" class="nav-item nav-link" >Products</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/profile/cart}" class="nav-item nav-link" > My Shopping Cart</a>
                </li>
                
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/administration}" class="nav-item nav-link" > Administration</a>
               </div>
                </li>
                <li class="nav-item">
                <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                    <a class="nav-link btn btn-primary text-white" type="button" href="#" data-toggle="modal" data-target="#myModal">Sign In/Register</a>                  
               </div>
                </li>
                
               </ul>
        </div>
         <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Customer Sign In</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

               
    
    
    
   
     

                
            </div>
        </div>
    </div>
 </nav>

<div class="container">
  
  <div th:if="${param.emptyPost}">
     <div class="alert alert-info">Sorry but you didn't write anything in the comment box </div>
    </div>
    
    <div th:if="${param.post}">
     <div class="alert alert-success">Your post was published successfully , thank you!!!</div>
    </div>

 <h1>Product Details</h1>
 
 
  <table class="table table-striped" th:object="${task}">
  
      <tr>
        <th></th>
       
      </tr>
      <tr>
        <th>Product Name</th>
        <td><b th:text="*{id}"></b></td>
      </tr>
      <tr>
        <th>Price</th>
        <td th:text="*{description}"></td>
      </tr>
      <tr>
        <th>Status</th>
        <td th:text="*{status}"></td>
      </tr>
      <tr>
        <th>IsRisky</th>
        <td th:text="*{isRisky}"></td>
      </tr>
    
      
    </table>
   
    <hr>
    
    <br>
    
   
    
   
</div>



  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>